{% extends 'base.html' %}
{% load i18n posts %}

{% block title%}Sera Sound Design - {{ page_title }}{% endblock %}
{% block extrascript %}<script src="{% media_url %}js/classes.js"></script>{% endblock %}
{% block extrastyle %}
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic&subset=latin' rel='stylesheet' type='text/css'>
			<!--<link rel="stylesheet" type="text/css" href="{% media_url %}css/css_reset.css" media="screen"/>-->
			<link rel="stylesheet" type="text/css" href="{% media_url %}css/fonts.css" media="all">
			<link rel="stylesheet" type="text/css" href="{% media_url %}css/player.css" media="screen">
			<link rel="stylesheet" type="text/css" href="{% media_url %}css/layout.css" media="screen">{% endblock %}
{% block extraextrastyle %}{% endblock %}
{% block header%}
				<hgroup>
					<a href="{% url index %}" title="{% trans "Retour &agrave; l'acceuil" %}">
						<h1 class="GrappleBRK dark-shadow"><font color="red">sera</font><br><font color="orange">sound</font><br><font color="gold">design</font></h1>
					</a>
                    <div id="header-mask"></div>
				</hgroup>
				<script src="{% media_url %}js/canvas.js"></script>{% endblock %}

{% block nav %}
				<ul>
					<li><a href="{% url index %}" title="{% trans "Retour &agrave; l'acceuil" %}">{% trans "Acceuil"%}</a></li>
					<li><a href="{% url orphan_page orphan_id="contact" %}" title="{% trans "Contact" %}">{% trans "Contact"%}</a></li>
				</ul>{% endblock %}

{% block contentnav %}

{% get_post_tags_list as tags_cloud %}
{% get_post_category_list as categories_list %}
{% get_post_archives_list as archives_list %}
{% get_site_links_list as links_list %}

<h2 class="GrappleBRK shadow">{% trans "Navigation" %}</h2>
<div id="menu">
    <h3 class="GrappleBRK dark-shadow">{% trans "Cat&eacute;gories" %}</h3>
    <ul class="post-categories">
    {% for category in categories_list %}<li><a href="{{category.get_absolute_url}}" title="{{category.name}}">{{category.name}}</a></li>{% endfor %}
    </ul>

    <h3 class="GrappleBRK dark-shadow">{% trans "Archives" %}</h3>
    <ul class="post-archives">
    {% for date in archives_list %}{% url post_by_year year=date.year as year_url %}{% url post_by_month year=date.year month=date.month as month_url %}
        {% ifchanged date.year %}{%if not forloop.first %}</ul></li>{%endif%}<li><a href="{{ year_url }}" >{{ date.year }}</a><ul>{% endifchanged %}        
            <li><a href="{{month_url }}" >{{ date|date:"b" }}</a></li>            
    {% endfor %}
    </ul></li>
    <li><a href="{% url archives_list %}">{% trans "Plus d'archives..." %}</a></li>
    </ul>
    
    <h3 class="GrappleBRK dark-shadow">{% trans "Tags" %}</h3>
    <ul class="tags-cloud">
    {% for tag in tags_cloud %}{% url post_by_tag tag as tag_url %}<li><a href="{{tag_url}}" title="{{ tag.name }}"><font size="{{tag.font_size}}">{{ tag.name }}</font></a></li>{% endfor %}
    </ul>
    
    <h3 class="GrappleBRK dark-shadow">{% trans "Liens" %}</h3>
    <ul id="links">
    {% for link in links_list %}<li>
        <div class="link-icon">{% if link.icon %}<img src="{% media_url %}{{link.icon}}"/>{% endif %}</div>
        <div class="link-text"><a href="{{link.url}}" title="{{ link.name }}">{{ link.name }}</a>
        {% autoescape off %}{{link.description }}{% endautoescape %}</div>
        </li>{% endfor %}
        <li><div class="link-icon"></div><div class="link-text"><a href="{% url links_list %}" >{% trans "Plus de liens..." %}</a></div></li>
    </ul>
    
    
</div>
{% endblock %}

{% block footer %}
<span class="copyright">{% blocktrans%}&copy; 2010 Sera Sound Design, Tout droits r&eacute;serv&eacute;s{% endblocktrans %}</span>
<span>{% blocktrans%}Code et design <a href="http://book.abe.free.fr/blog/">Abe</a>@<a href="http://www.aesia.fr">Aesia</a>{% endblocktrans %}</span>
{% endblock %}
