{% extends "base.html" %}
{% load i18n posts %}

{% block content %}
<h2>{{ page_title }}</h2>
<div id="links">
<p class="index">
    {% for link in links %}
        {% ifchanged link.name|slice:":1" %}
            <a href="#{{ link.name|slice:":1" }}">{{ link.name|slice:":1" }}</a>{% if not forloop.last %},{% endif %}
        {% endifchanged %}
    {% endfor %}
</p>
<hr/>

    {% for link in links %}
        {% ifchanged link.name|slice:":1" %}
            <a name="{{ link.name|slice:":1" }}"></a>
            {% if not forloop.fitrst %}</ul>{% endif %}
            <h3>{{ link.name|slice:":1" }}</h3>
           <ul>
        {% endifchanged %}
        <li> <span class="link-icon">{% if link.icon %}<img src="{{ MEDIA_URL }}{{link.icon}}"/>{% endif %}</span>
        <span class="link-text"><a href="{{link.url}}" title="{{ link.name }}">{{ link.name }}</a>
        {% autoescape off %}{{link.description }}{% endautoescape %}</span></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
