{% load i18n tagging_tags posts comments %}
<article id="post{{ post.id }}">
    <div class="post">
        <header>
            <div class="post-header">
                <h1><a rel="bookmark" href="{{ post.get_absolute_url }}">{{post.name}}</a></h1>
                {% if post.published %}
                <time datetime="{{  post.published_date|date:"Y-m-j" }}" pubdate>
                    <p class="post-date">
                        <span class="day">{{  post.published_date|date:"j" }}</span>
                        <span class="month">{{  post.published_date|date:"b" }}</span>
                        <span class="year">{{  post.published_date|date:"Y" }}</span>
                    </p>
                </time>
                {% else %}
                <h2>{% trans "Not published" %}</h2>
                {% endif %}
                
                <span class="post-details">{% trans "Published in " %}<a href="{{ post.category.get_absolute_url }}">{{post.category.name}}</a></span>
                {% if post.tags %}
                <span class="post-tags">{% tags_for_object post as tag_list %}
                {% for tag in tag_list %}{% url post_by_tag tag as tag_url %}
                <a href="{{tag_url}}" rel="tag">{{ tag }}</a>{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}
                </span>
                {% endif %}
            </div>
        </header>
        <div class="post-body">
            <div id="content{{ post.id }}">{% autoescape off%}{% if post.has_hidden_content %}{{post.excerpt}}{% endif %}{{post.content}}{% endautoescape%}</div>
        </div>
    </div>
</article>


