{% load i18n tickets %}

<a href="#bug-submit" onclick="toggleForm();">{% trans "Report a bug" %}</a></input>
<div id="fast_form_container" style="display:none;">
	<div id="form_confirm" style="display:none;">
		<h3>{% trans "The ticket have been successfully registered." %}</h3>
		<span>
			Thank you for helping us to improve the quality of our products.
			{% if request.user.is_staff %}
				<p>
				{%url tickets_list as tickets_url %}
				{% blocktrans %}You can follow the resolution of this ticket or looking at 
				the others tickets in the <a href="{{ tickets_url }}">tickets list</a>.
				{% endblocktrans %}
				</p>
			{% endif %}
		</span>
	</div>
	{% include "bugs/ticket_form.html" %}
</div>
<script type="text/javascript">
<!--
	function toggleForm()
	{
		if( $('#fast_form_container').css("display") == "none" )
			openForm();
		else
			closeForm();
	}
	function closeForm()
	{
		$(document).unbind('click');
		$('#form_confirm').slideUp();
		$('#fast_form_container').slideUp();
	}
	function openForm()
	{
		$('#fast_form_container').slideDown();
	}
	$(document).ready(function() {
		
		$("#fast_form_container #ticket_form").submit(function(e) {
			var self = $(this);
			self.prepend($("<input type='hidden' name='js' value='true'/>"))
			e.preventDefault();
			
			$.post('{% url ticket_create %}', self.serialize(), function( data ) {
				var o = eval("("+data+")");
				if( o.status == "0" )
					for( var i in o.errors )
						$("#id_"+ i ).after($("<ul class='errorlist'><li>"+o.errors[i].join("</li><li>")+"</li></ul>"));
				else if( o.status == "1" )
				{
					$("ul.errorlist").detach();
					$("#form_confirm").slideDown();
					$("#id_name").attr("value","");
					$("#id_description").attr("value","");
					$(document).click(function(e )
					{ 
						closeForm();
					});
				}
			});
			return false;
		}).children("p.submit").prepend($("<input type='button' value='{% trans "Cancel" %}' onclick='closeForm();'></input>"));
		$("#fast_form_container #ticket_form legend").prepend($("<input type='button' value='{% trans "Close"%}' title='{% trans "Close"%}' onclick='closeForm();'></input>"));
});

-->
</script>
