{% load i18n tickets %}

<div id="milestone_infos" class="{% if milestone.public %}public{% else %}private{% endif %}">

	<h1>{% trans 'Current : ' %}{{ milestone.name }}{% if component %} - {{ component.name }}{% endif %}</h1>
	
	<p>{% trans 'Pain threshold : ' %}<span class="max_pain_level">{{ milestone.max_pain_level }}%</span></p>
	
	<p class="description">{% autoescape on %}{{ milestone.description }}{% endautoescape %}</p>
	{% if milestone.public %}
	<p class="public_text">{% trans 'This is a public milestone.' %}</p>
	{% else %}
	<p class="private_text">{% trans 'This is a private milestone.' %}</p>
	{% endif %}
</div>
