{% load i18n tickets %}

<div id="ticket_form_div">
	<form action="{{ ticket_url }}" method="POST" id="ticket_form">
			{% csrf_token %}
	
			<fieldset><legend>{% trans "Cr&eacute;er un ticket" %}</legend>
				<dl>
					<dt>{{ form.name.label }}</dt>
					<dd>
					{{ form.name }}
					{{ form.name.errors }}
					<span class="help_text">{% autoescape off %}{{ form.name.help_text }}{% endautoescape %}</span>
					</dd>
				
					<dt>{{ form.description.label }}</dt>
					<dd>
					{{ form.description }}
					{{ form.description.errors }}
					<span class="help_text">{% autoescape off %}{{ form.description.help_text }}{% endautoescape %}</span>
					</dd>
				</dl>
			</fieldset>
			<p class="submit">
				<input type="submit" value="{% trans "Enregistrer" %}" />
			</p>
			
			{% if user.is_staff %}
				<fieldset><legend>{% trans "Propri&eacute;t&eacute;s" %}</legend>
					<dl>
						<dt>{{ form.type.label }}</dt>
						<dd>
						{{ form.type }}
						{{ form.type.errors }}
						<span class="help_text">{% autoescape off %}{{ form.type.help_text }}{% endautoescape %}</span>
						</dd>
						<dt>{{ form.priority.label }}</dt>
						<dd>
						{{ form.priority }}
						{{ form.priority.errors }}
						<span class="help_text">{% autoescape off %}{{ form.priority.help_text }}{% endautoescape %}</span>
						</dd>
						<dt>{{ form.likelihood.label }}</dt>
						<dd>
						{{ form.likelihood }}
						{{ form.likelihood.errors }}
						<span class="help_text">{% autoescape off %}{{ form.likelihood.help_text }}{% endautoescape %}</span>
						</dd>
						
						{% if user.is_superuser %}
						<dt>{{ form.component.label }}</dt>
						<dd>
						{{ form.component }}
						{{ form.component.errors }}
						<span class="help_text">{% autoescape off %}{{ form.component.help_text }}{% endautoescape %}</span>
						</dd>
						
						<dt>{{ form.attached_url.label }}</dt>
						<dd>
						{{ form.attached_url }}
						{{ form.attached_url.errors }}
						<span class="help_text">{% autoescape off %}{{ form.attached_url.help_text }}{% endautoescape %}</span>
						</dd>
						{% endif %}
						
						<dt>{{ form.allow_comments.label }}</dt>
						<dd>
						<span class="form">{{ form.allow_comments }}<label for="id_allow_comments">{% trans "Authoriser les commentaires pour ce ticket." %}</label></span>
						{{ form.allow_comments.errors }}
						<span class="help_text">{% autoescape off %}{{ form.allow_comments.help_text }}{% endautoescape %}</span>
						</dd>
					</dl>
				</fieldset>
			
				{% if user.is_superuser %}
				<fieldset><legend>{% trans "Status" %}</legend>
					<dl>
						<dt>{{ form.active.label }}</dt>
						<dd>
						<span class="form">{{ form.active }}<label>Le ticket est actif.</label></span>
						{{ form.active.errors }}
						<span class="help_text">{% autoescape off %}{{ form.active.help_text }}{% endautoescape %}</span>
						</dd>
						
						<dt>{{ form.status.label }}</dt>
						<dd>
						{{ form.status }}
						{{ form.status.errors }}
						<span class="help_text">{% autoescape off %}{{ form.assignees.help_text }}{% endautoescape %}</span>
						</dd>
						<dt>{{ form.planified_to_milestone.label }}</dt>
						<dd>
						{{ form.planified_to_milestone }}
						{{ form.planified_to_milestone.errors }}
						<span class="help_text">{% autoescape off %}{{ form.planified_to_milestone.help_text }}{% endautoescape %}</span>
						</dd>
						<dt>{{ form.closed_in_milestone.label }}</dt>
						<dd>
						{{ form.closed_in_milestone }}
						{{ form.closed_in_milestone.errors }}
						<span class="help_text">{% autoescape off %}{{ form.closed_in_milestone.help_text }}{% endautoescape %}</span>
						</dd>
					</dl>
					
				</fieldset>
				<fieldset><legend>{% trans "&Eacute;quipe" %}</legend>
					<dl>
						<dt>{{ form.assignees.label }}</dt>
						<dd>
						{{ form.assignees }}
						{{ form.assignees.errors }}
						<span class="help_text">{% autoescape off %}{{ form.assignees.help_text }}{% endautoescape %}</span>
						</dd>
						<dt>{{ form.assignee_head.label }}</dt>
						<dd>
						{{ form.assignee_head }}
						{{ form.assignee_head.errors }}
						<span class="help_text">{% autoescape off %}{{ form.assignee_head.help_text }}{% endautoescape %}</span>
						</dd>
					</dl>
				</fieldset>
				{% endif %}
				<p class="submit">
					<input type="submit" value="{% trans "Enregistrer" %}" />
				</p>
			{% endif %}
	</form>
</div>
