{% load i18n tickets %}
<table id="{{ table_id }}" class="list" cellspacing="0">
<thead>
	<tr>
		<th class="th_pain" title="{% trans 'Published' %}">{% trans 'Published' %}</th>
		<th align="left" width="60%" class="th_name">{% trans 'Name' %}</th>
		<th align="left" class="th_status" title="{% trans 'Status' %}">{% trans 'Status' %}</th>
        <th align="left" class="th_comp" title="{% trans 'Component' %}">{% trans 'Component' %}</th>
		<th align="left" class="th_creator" title="{% trans 'Creator' %}">{% trans 'Creator' %}</th>
		<th align="center" class="th_affect" title="{% trans 'Assignees' %}">{% trans 'Assignees' %}</th>
		<th align="left" class="th_date" title="{% trans 'Date' %}">{% trans 'Date' %}</th>
		{% if user.is_staff %}
		<th align="center"></th>
		{% endif %}
	</tr>
</thead>
<tbody>
{% for ticket in tickets %}
{% url ticket_detail ticket.id as the_url %}
	{% ifchanged ticket.block_milestone %}{% if not forloop.first %}
	<tr class="release_limit"><td colspan="{% if user.is_staff %}8{% else %}7{% endif %}">
		{% trans 'Pain threshold : ' %}<span class="max_pain_level">{{ milestone.max_pain_level }}%</span>
		<a href="#top" class="top" title="{% trans 'Back to the top' %}">{% trans 'Back to the top' %}</a>
	</td></tr>
	{% endif %}{% endifchanged %}
	{% spaceless %}
    <tr class="ticket {% pain_css ticket %}">
		<td align="center">{{ ticket.pain|floatformat }}%</td>
		<td class="name"><a href="{{ the_url }}">{{ ticket.name }}</a></td>
		<td class="status">{{ ticket.get_status_display }}</td>
        {% if component %}
        <td class="component">{{ ticket.component }}</td>
		{% else %}
         <td class="component">
		 {% if ticket.component %}
			<a href="{% url tickets_by_component component=ticket.component.name %}">{{ ticket.component }}</a>
		{% else %}
			{%trans "None" %}
		{% endif %}
		</td>
        {% endif %}
        <td class="creator">{% ticket_user_name ticket.creator %}</td>
		<td align="center" class="affectation">
		{% if user in ticket.assignees.all  %}
			<img src="{{ MEDIA_URL }}bugs/img/accept.png" title="{% trans 'The ticket is affected to ' %}{% for u in ticket.assignees.all %}{% ticket_user_name u %}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
		{% else %}
			{% if ticket.block_milestone and user.is_staff %}
				<a href="{{ the_url }}affect" title="{% trans "Assign me this ticket" %}"><img src="{{ MEDIA_URL }}bugs/img/add.png" alt="{% trans "Assign me this ticket" %}"/></a>
			{% endif %}
		{% endif %}
		</td>	
		<td class="date">{{ ticket.creation_date|date:"Y-n-d" }}</td>
		{% if user.is_staff %}
			<td class="controls" align="right"><a href="{{ the_url }}edit" title="{% trans 'Edit this ticket' %}"><img src="{{ MEDIA_URL }}bugs/img/report_edit.png" alt="{% trans "Edit this ticket"%}"/></a></td>
		{% endif %}
	</tr>
	{% endspaceless %}
{% endfor %}
<tr class="release_limit"><td colspan="{% if user.is_staff %}8{% else %}7{% endif %}">
		<a href="#top" class="top" title="{% trans 'Back to the top' %}">{% trans 'Back to the top' %}</a>
	</td></tr>
</tbody>
</table>
