{% extends "bugs/tickets_base.html" %}
{% load i18n tickets comments %}

{% block toolbar %}
	<li><a href="{% url ticket_create %}" class="add">{% trans 'New ticket' %}</a></li>
			{% if user.is_staff %}<li><a href="{% url ticket_edit ticket.id %}" class="edit">{% trans 'Edit this ticket' %}</a></li>{% endif %}
			{% if ticket.assignee %}<li><span class="accept">{% trans 'This ticket is affected to ' %}{% user_name ticket.assignee %}</span></li>
			{% else %}
				{% if ticket.block_milestone and user.is_staff %}
						<li><a href="{% url ticket_affect ticket.id %}" class="affect">{% trans "Assign me this ticket" %}</a></li>
				{% endif %}
			{% endif %}
{% endblock %}

{% block content %} 
	{% render_ticket ticket %}
{% endblock content %}
