{% extends "base.html" %}
{% load i18n tickets comments %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bugs/css/pain_colors.css" />
<!--<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bugs/css/tickets_list.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bugs/css/ticket_detail.css" />-->
{% endblock %}

{% block content %}

{% milestone_header milestone %}

<div id="ticket_tools">
<p>
 <a href="{% url ticket_create %}" class="add">{% trans 'Nouveau Ticket' %}</a> |
	
	{% if user.is_staff %}
			<a href="{% url ticket_edit ticket.id %}" class="edit">{% trans '&Eacute;diter ce ticket' %}</a> |
    {% endif %} 
  <a href="{% url tickets_list %}" >{% trans 'Tous les tickets' %}</a> |
  
  {% if ticket.reviewer %}
			<span class="accept">{% trans 'Le ticket est affect&eacute; &agrav; ' %}{% user_name ticket.reviewer %}</span> |
	{% else %}
		{% if ticket.block_milestone and user.is_staff %}
				<a href="{% url ticket_affect ticket.id %}" >{% trans "M'affecter ce ticket" %}</a> |
		{% endif %}
	{% endif %}
	
</p>
 </div>
 
{% url upain.bugreport.views.ticket_detail ticket.id as the_url %}

<div id="ticket_detail">
	<h1 class="{% pain_css ticket %}"><span class="painh1">{{ ticket.name }}</span></h1>
	<p class="description">{{ ticket.description }}</p>
	<dl class="properties">		
		<dt>{{ labels.pain }}</dt>
		<dd>{{ ticket.pain_as_int }}%</dd>
		
		<dt>{{ labels.type }}</dt>
		<dd>{{ ticket.get_type_display }}</dd>
		
		<dt>{{ labels.priority }}</dt>
		<dd>{{ ticket.get_priority_display }}</dd>
		
		<dt>{{ labels.likelihood }}</dt>
		<dd>{{ ticket.get_likelihood_display }}</dd>
		
		<dt>{{ labels.creator }}</dt>
		<dd>{% user_name ticket.creator %}</dd>
		
		<dt>{{ labels.reviewer }}</dt>
		<dd>{% if ticket.reviewer %}{% user_name ticket.reviewer %}{% else %}Aucune{% endif %}</dd>
		
		<dt>{{ labels.creation_date }}</dt>
		<dd>
			<span class='date'>{{ ticket.creation_date|date:"j/n/Y" }}</span>
			<span class='time'>{{ ticket.creation_date|date:"H:i:s" }}</span>
		</dd>
		<dt>{{ labels.update_date }}</dt>
		<dd>
			<span class='date'>{{ ticket.update_date|date:"j/n/Y" }}</span>
			<span class='time'>{{ ticket.update_date|date:"H:i:s" }}</span>
		</dd>
	</dl>
</div>
{% if ticket.allow_comments %}
	<div id="comments-bloc">
	{% get_comment_count for ticket as comment_count %}
	<h3>{% blocktrans count comment_count as counter %}{{ comment_count }} Commentaire{% plural %}{{ comment_count }} Commentaires{% endblocktrans %}</h3>
	{% render_comment_list for ticket %}</div>
	<div id="comment-form">{% block comment_form %}{% render_comment_form for ticket %}{% endblock %}</div>
{% endif %}
{% endblock content %}
