{% extends "bugs/tickets_base.html" %}
{% load i18n tickets %}

{%block toolbar%}
<li><a href="{{ new_url }}" class="add">{% trans 'New ticket' %}</a></li>
 
<li>{% render_components_select component %}</li>
 
 {% if component %}
 <li><a href="{{ list_url }}" >{% trans 'All tickets' %}</a></li>
{% endif %}
{% endblock %}

{%block content%}

{% render_tickets_table tickets_list user "tickets_list" %}
{% if has_next_page or has_previous_page %} 
<div id="ticket_pagination" class="toolbar">
<ul>
{%if has_next_page %}<li><a href="{{next_page_url }}">{%trans "Oldest tickets" %}</a></li>{% endif %}
{%if has_previous_page %}<li><a href="{{previous_page_url }}">{%trans "Recents tickets" %}</a></li>{% endif %}
</ul>
</div>
{% endif %}

{% endblock %}
