.changelist-results th a { color:black; }

.pain0{ background:#ffffff; }
.pain1{ background:#fefefe; }
.pain2{ background:#fdfdfd; }
.pain3{ background:#fcfcfc; }
.pain4{ background:#fbfbfb; }
.pain5{ background:#fafafa; }
.pain6{ background:#f9f9f9; }
.pain7{ background:#f8f8f8; }
.pain8{ background:#f7f7f7; }
.pain9{ background:#f6f6f6; }
.pain10{ background:#f5f5f5; }
.pain11{ background:#f4f4f4; }
.pain12{ background:#f3f3f3; }
.pain13{ background:#f2f2f2; }
.pain14{ background:#f1f1f1; }
.pain15{ background:#f0f0f0; }
.pain16{ background:#efefef; }
.pain17{ background:#eeeeee; }
.pain18{ background:#ededed; }
.pain19{ background:#ececec; }
.pain20{ background:#ebebeb; }
.pain21{ background:#eaeaea; }
.pain22{ background:#e9e9e9; }
.pain23{ background:#e8e8e8; }
.pain24{ background:#e7e7e7; }
.pain25{ background:#e6e6e6; }
.pain26{ background:#e5e5e5; }
.pain27{ background:#e4e4e4; }
.pain28{ background:#e3e3e3; }
.pain29{ background:#e2e2e2; }
.pain30{ background:#e1e1e1; }
.pain31{ background:#e0e0e0; }
.pain32{ background:#dfdfdf; }
.pain33{ background:#dedede; }
.pain34{ background:#dddddd; }
.pain35{ background:#dcdcdc; }
.pain36{ background:#dbdbdb; }
.pain37{ background:#dadada; }
.pain38{ background:#d9d9d9; }
.pain39{ background:#d8d8d8; }
.pain40{ background:#d7d7d7; }
.pain41{ background:#d6d6d6; }
.pain42{ background:#d5d5d5; }
.pain43{ background:#d4d4d4; }
.pain44{ background:#d3d3d3; }
.pain45{ background:#d2d2d2; }
.pain46{ background:#d1d1d1; }
.pain47{ background:#d0d0d0; }
.pain48{ background:#cfcfcf; }
.pain49{ background:#cecece; }
.pain50{ background:#cccccc; }
.pain51{ background:#cbcbcb; }
.pain52{ background:#cacaca; }
.pain53{ background:#c9c9c9; }
.pain54{ background:#c8c8c8; }
.pain55{ background:#c7c7c7; }
.pain56{ background:#c6c6c6; }
.pain57{ background:#c5c5c5; }
.pain58{ background:#c4c4c4; }
.pain59{ background:#c3c3c3; }
.pain60{ background:#c2c2c2; }
.pain61{ background:#c1c1c1; }
.pain62{ background:#c0c0c0; }
.pain63{ background:#bfbfbf; }
.pain64{ background:#bebebe; }
.pain65{ background:#bdbdbd; }
.pain66{ background:#bcbcbc; }
.pain67{ background:#bbbbbb; }
.pain68{ background:#bababa; }
.pain69{ background:#b9b9b9; }
.pain70{ background:#b8b8b8; }
.pain71{ background:#b7b7b7; }
.pain72{ background:#b6b6b6; }
.pain73{ background:#b5b5b5; }
.pain74{ background:#b4b4b4; }
.pain75{ background:#b3b3b3; }
.pain76{ background:#b2b2b2; }
.pain77{ background:#b1b1b1; }
.pain78{ background:#b0b0b0; }
.pain79{ background:#afafaf; }
.pain80{ background:#aeaeae; }
.pain81{ background:#adadad; }
.pain82{ background:#acacac; }
.pain83{ background:#ababab; }
.pain84{ background:#aaaaaa; }
.pain85{ background:#a9a9a9; }
.pain86{ background:#a8a8a8; }
.pain87{ background:#a7a7a7; }
.pain88{ background:#a6a6a6; }
.pain89{ background:#a5a5a5; }
.pain90{ background:#a4a4a4; }
.pain91{ background:#a3a3a3; }
.pain92{ background:#a2a2a2; }
.pain93{ background:#a1a1a1; }
.pain94{ background:#a0a0a0; }
.pain95{ background:#9f9f9f; }
.pain96{ background:#9e9e9e; }
.pain97{ background:#9d9d9d; }
.pain98{ background:#9c9c9c; }
.pain99{ background:#9b9b9b; }
.pain100{ background:#999999; }

.pain0.block{ background:#ffffff; }
.pain1.block{ background:#fffffd; }
.pain2.block{ background:#fffefb; }
.pain3.block{ background:#fffdf9; }
.pain4.block{ background:#fffcf6; }
.pain5.block{ background:#fffbf4; }
.pain6.block{ background:#fffaf2; }
.pain7.block{ background:#fffaef; }
.pain8.block{ background:#fff9ed; }
.pain9.block{ background:#fff8eb; }
.pain10.block{ background:#fff7e8; }
.pain11.block{ background:#fff6e6; }
.pain12.block{ background:#fef5e4; }
.pain13.block{ background:#fef4e1; }
.pain14.block{ background:#fef4df; }
.pain15.block{ background:#fef3dd; }
.pain16.block{ background:#fef2da; }
.pain17.block{ background:#fef1d8; }
.pain18.block{ background:#fef0d6; }
.pain19.block{ background:#feefd3; }
.pain20.block{ background:#feeed1; }
.pain21.block{ background:#feeecf; }
.pain22.block{ background:#feedcc; }
.pain23.block{ background:#fdecca; }
.pain24.block{ background:#fdebc8; }
.pain25.block{ background:#fdeac5; }
.pain26.block{ background:#fde9c3; }
.pain27.block{ background:#fde9c1; }
.pain28.block{ background:#fde8be; }
.pain29.block{ background:#fde7bc; }
.pain30.block{ background:#fde6ba; }
.pain31.block{ background:#fde5b7; }
.pain32.block{ background:#fde4b5; }
.pain33.block{ background:#fde3b3; }
.pain34.block{ background:#fce3b0; }
.pain35.block{ background:#fce2ae; }
.pain36.block{ background:#fce1ac; }
.pain37.block{ background:#fce0a9; }
.pain38.block{ background:#fcdfa7; }
.pain39.block{ background:#fcdea5; }
.pain40.block{ background:#fcdda2; }
.pain41.block{ background:#fcdda0; }
.pain42.block{ background:#fcdc9e; }
.pain43.block{ background:#fcdb9b; }
.pain44.block{ background:#fcda99; }
.pain45.block{ background:#fbd997; }
.pain46.block{ background:#fbd894; }
.pain47.block{ background:#fbd892; }
.pain48.block{ background:#fbd790; }
.pain49.block{ background:#fbd68d; }
.pain50.block{ background:#fbd58b; }
.pain51.block{ background:#fbd489; }
.pain52.block{ background:#fbd386; }
.pain53.block{ background:#fbd284; }
.pain54.block{ background:#fbd282; }
.pain55.block{ background:#fbd17f; }
.pain56.block{ background:#fad07d; }
.pain57.block{ background:#facf7b; }
.pain58.block{ background:#face78; }
.pain59.block{ background:#facd76; }
.pain60.block{ background:#facc74; }
.pain61.block{ background:#facc71; }
.pain62.block{ background:#facb6f; }
.pain63.block{ background:#faca6d; }
.pain64.block{ background:#fac96a; }
.pain65.block{ background:#fac868; }
.pain66.block{ background:#fac766; }
.pain67.block{ background:#f9c763; }
.pain68.block{ background:#f9c661; }
.pain69.block{ background:#f9c55f; }
.pain70.block{ background:#f9c45c; }
.pain71.block{ background:#f9c35a; }
.pain72.block{ background:#f9c258; }
.pain73.block{ background:#f9c155; }
.pain74.block{ background:#f9c153; }
.pain75.block{ background:#f9c051; }
.pain76.block{ background:#f9bf4e; }
.pain77.block{ background:#f9be4c; }
.pain78.block{ background:#f8bd4a; }
.pain79.block{ background:#f8bc47; }
.pain80.block{ background:#f8bb45; }
.pain81.block{ background:#f8bb43; }
.pain82.block{ background:#f8ba40; }
.pain83.block{ background:#f8b93e; }
.pain84.block{ background:#f8b83c; }
.pain85.block{ background:#f8b739; }
.pain86.block{ background:#f8b637; }
.pain87.block{ background:#f8b635; }
.pain88.block{ background:#f8b532; }
.pain89.block{ background:#f7b430; }
.pain90.block{ background:#f7b32e; }
.pain91.block{ background:#f7b22b; }
.pain92.block{ background:#f7b129; }
.pain93.block{ background:#f7b027; }
.pain94.block{ background:#f7b024; }
.pain95.block{ background:#f7af22; }
.pain96.block{ background:#f7ae20; }
.pain97.block{ background:#f7ad1d; }
.pain98.block{ background:#f7ac1b; }
.pain99.block{ background:#f7ab19; }
.pain100.block{ background:#f6aa16; }

.pain0.block.killer{ background:#ffffff; }
.pain1.block.killer{ background:#fffdfd; }
.pain2.block.killer{ background:#fffbfb; }
.pain3.block.killer{ background:#fff9f9; }
.pain4.block.killer{ background:#fff7f6; }
.pain5.block.killer{ background:#fff5f4; }
.pain6.block.killer{ background:#fff3f2; }
.pain7.block.killer{ background:#fff1ef; }
.pain8.block.killer{ background:#feefed; }
.pain9.block.killer{ background:#feeceb; }
.pain10.block.killer{ background:#feeae8; }
.pain11.block.killer{ background:#fee8e6; }
.pain12.block.killer{ background:#fee6e4; }
.pain13.block.killer{ background:#fee4e1; }
.pain14.block.killer{ background:#fee2df; }
.pain15.block.killer{ background:#fde0dd; }
.pain16.block.killer{ background:#fddeda; }
.pain17.block.killer{ background:#fddbd8; }
.pain18.block.killer{ background:#fdd9d6; }
.pain19.block.killer{ background:#fdd7d3; }
.pain20.block.killer{ background:#fdd5d1; }
.pain21.block.killer{ background:#fdd3cf; }
.pain22.block.killer{ background:#fcd1cc; }
.pain23.block.killer{ background:#fccfca; }
.pain24.block.killer{ background:#fccdc8; }
.pain25.block.killer{ background:#fccac5; }
.pain26.block.killer{ background:#fcc8c3; }
.pain27.block.killer{ background:#fcc6c1; }
.pain28.block.killer{ background:#fcc4be; }
.pain29.block.killer{ background:#fbc2bc; }
.pain30.block.killer{ background:#fbc0ba; }
.pain31.block.killer{ background:#fbbeb7; }
.pain32.block.killer{ background:#fbbcb5; }
.pain33.block.killer{ background:#fbbab3; }
.pain34.block.killer{ background:#fbb7b0; }
.pain35.block.killer{ background:#fbb5ae; }
.pain36.block.killer{ background:#fab3ac; }
.pain37.block.killer{ background:#fab1a9; }
.pain38.block.killer{ background:#faafa7; }
.pain39.block.killer{ background:#faada5; }
.pain40.block.killer{ background:#faaba2; }
.pain41.block.killer{ background:#faa9a0; }
.pain42.block.killer{ background:#faa69e; }
.pain43.block.killer{ background:#f9a49b; }
.pain44.block.killer{ background:#f9a299; }
.pain45.block.killer{ background:#f9a097; }
.pain46.block.killer{ background:#f99e94; }
.pain47.block.killer{ background:#f99c92; }
.pain48.block.killer{ background:#f99a90; }
.pain49.block.killer{ background:#f9988d; }
.pain50.block.killer{ background:#f8958b; }
.pain51.block.killer{ background:#f89389; }
.pain52.block.killer{ background:#f89186; }
.pain53.block.killer{ background:#f88f84; }
.pain54.block.killer{ background:#f88d82; }
.pain55.block.killer{ background:#f88b7f; }
.pain56.block.killer{ background:#f8897d; }
.pain57.block.killer{ background:#f8877b; }
.pain58.block.killer{ background:#f78578; }
.pain59.block.killer{ background:#f78276; }
.pain60.block.killer{ background:#f78074; }
.pain61.block.killer{ background:#f77e71; }
.pain62.block.killer{ background:#f77c6f; }
.pain63.block.killer{ background:#f77a6d; }
.pain64.block.killer{ background:#f7786a; }
.pain65.block.killer{ background:#f67668; }
.pain66.block.killer{ background:#f67466; }
.pain67.block.killer{ background:#f67163; }
.pain68.block.killer{ background:#f66f61; }
.pain69.block.killer{ background:#f66d5f; }
.pain70.block.killer{ background:#f66b5c; }
.pain71.block.killer{ background:#f6695a; }
.pain72.block.killer{ background:#f56758; }
.pain73.block.killer{ background:#f56555; }
.pain74.block.killer{ background:#f56353; }
.pain75.block.killer{ background:#f56051; }
.pain76.block.killer{ background:#f55e4e; }
.pain77.block.killer{ background:#f55c4c; }
.pain78.block.killer{ background:#f55a4a; }
.pain79.block.killer{ background:#f45847; }
.pain80.block.killer{ background:#f45645; }
.pain81.block.killer{ background:#f45443; }
.pain82.block.killer{ background:#f45240; }
.pain83.block.killer{ background:#f4503e; }
.pain84.block.killer{ background:#f44d3c; }
.pain85.block.killer{ background:#f44b39; }
.pain86.block.killer{ background:#f34937; }
.pain87.block.killer{ background:#f34735; }
.pain88.block.killer{ background:#f34532; }
.pain89.block.killer{ background:#f34330; }
.pain90.block.killer{ background:#f3412e; }
.pain91.block.killer{ background:#f33f2b; }
.pain92.block.killer{ background:#f33c29; }
.pain93.block.killer{ background:#f23a27; }
.pain94.block.killer{ background:#f23824; }
.pain95.block.killer{ background:#f23622; }
.pain96.block.killer{ background:#f23420; }
.pain97.block.killer{ background:#f2321d; }
.pain98.block.killer{ background:#f2301b; }
.pain99.block.killer{ background:#f22e19; }
.pain100.block.killer{ background:#f12b16; }

.pain0.block.affected{ background:#ffffff; }
.pain1.block.affected{ background:#fdfeff; }
.pain2.block.affected{ background:#fbfdfe; }
.pain3.block.affected{ background:#f9fcfd; }
.pain4.block.affected{ background:#f6fbfd; }
.pain5.block.affected{ background:#f4fafc; }
.pain6.block.affected{ background:#f2f9fb; }
.pain7.block.affected{ background:#f0f7fa; }
.pain8.block.affected{ background:#edf6fa; }
.pain9.block.affected{ background:#ebf5f9; }
.pain10.block.affected{ background:#e9f4f8; }
.pain11.block.affected{ background:#e6f3f7; }
.pain12.block.affected{ background:#e4f2f7; }
.pain13.block.affected{ background:#e2f0f6; }
.pain14.block.affected{ background:#e0eff5; }
.pain15.block.affected{ background:#ddeef4; }
.pain16.block.affected{ background:#dbedf4; }
.pain17.block.affected{ background:#d9ecf3; }
.pain18.block.affected{ background:#d6ebf2; }
.pain19.block.affected{ background:#d4e9f1; }
.pain20.block.affected{ background:#d2e8f1; }
.pain21.block.affected{ background:#d0e7f0; }
.pain22.block.affected{ background:#cde6ef; }
.pain23.block.affected{ background:#cbe5ee; }
.pain24.block.affected{ background:#c9e4ee; }
.pain25.block.affected{ background:#c6e2ed; }
.pain26.block.affected{ background:#c4e1ec; }
.pain27.block.affected{ background:#c2e0ec; }
.pain28.block.affected{ background:#c0dfeb; }
.pain29.block.affected{ background:#bddeea; }
.pain30.block.affected{ background:#bbdde9; }
.pain31.block.affected{ background:#b9dce9; }
.pain32.block.affected{ background:#b7dae8; }
.pain33.block.affected{ background:#b4d9e7; }
.pain34.block.affected{ background:#b2d8e6; }
.pain35.block.affected{ background:#b0d7e6; }
.pain36.block.affected{ background:#add6e5; }
.pain37.block.affected{ background:#abd5e4; }
.pain38.block.affected{ background:#a9d3e3; }
.pain39.block.affected{ background:#a7d2e3; }
.pain40.block.affected{ background:#a4d1e2; }
.pain41.block.affected{ background:#a2d0e1; }
.pain42.block.affected{ background:#a0cfe0; }
.pain43.block.affected{ background:#9dcee0; }
.pain44.block.affected{ background:#9bccdf; }
.pain45.block.affected{ background:#99cbde; }
.pain46.block.affected{ background:#97cadd; }
.pain47.block.affected{ background:#94c9dd; }
.pain48.block.affected{ background:#92c8dc; }
.pain49.block.affected{ background:#90c7db; }
.pain50.block.affected{ background:#8dc5da; }
.pain51.block.affected{ background:#8bc4da; }
.pain52.block.affected{ background:#89c3d9; }
.pain53.block.affected{ background:#87c2d8; }
.pain54.block.affected{ background:#84c1d8; }
.pain55.block.affected{ background:#82c0d7; }
.pain56.block.affected{ background:#80bfd6; }
.pain57.block.affected{ background:#7ebdd5; }
.pain58.block.affected{ background:#7bbcd5; }
.pain59.block.affected{ background:#79bbd4; }
.pain60.block.affected{ background:#77bad3; }
.pain61.block.affected{ background:#74b9d2; }
.pain62.block.affected{ background:#72b8d2; }
.pain63.block.affected{ background:#70b6d1; }
.pain64.block.affected{ background:#6eb5d0; }
.pain65.block.affected{ background:#6bb4cf; }
.pain66.block.affected{ background:#69b3cf; }
.pain67.block.affected{ background:#67b2ce; }
.pain68.block.affected{ background:#64b1cd; }
.pain69.block.affected{ background:#62afcc; }
.pain70.block.affected{ background:#60aecc; }
.pain71.block.affected{ background:#5eadcb; }
.pain72.block.affected{ background:#5bacca; }
.pain73.block.affected{ background:#59abc9; }
.pain74.block.affected{ background:#57aac9; }
.pain75.block.affected{ background:#54a8c8; }
.pain76.block.affected{ background:#52a7c7; }
.pain77.block.affected{ background:#50a6c7; }
.pain78.block.affected{ background:#4ea5c6; }
.pain79.block.affected{ background:#4ba4c5; }
.pain80.block.affected{ background:#49a3c4; }
.pain81.block.affected{ background:#47a2c4; }
.pain82.block.affected{ background:#45a0c3; }
.pain83.block.affected{ background:#429fc2; }
.pain84.block.affected{ background:#409ec1; }
.pain85.block.affected{ background:#3e9dc1; }
.pain86.block.affected{ background:#3b9cc0; }
.pain87.block.affected{ background:#399bbf; }
.pain88.block.affected{ background:#3799be; }
.pain89.block.affected{ background:#3598be; }
.pain90.block.affected{ background:#3297bd; }
.pain91.block.affected{ background:#3096bc; }
.pain92.block.affected{ background:#2e95bb; }
.pain93.block.affected{ background:#2b94bb; }
.pain94.block.affected{ background:#2992ba; }
.pain95.block.affected{ background:#2791b9; }
.pain96.block.affected{ background:#2590b8; }
.pain97.block.affected{ background:#228fb8; }
.pain98.block.affected{ background:#208eb7; }
.pain99.block.affected{ background:#1e8db6; }
.pain100.block.affected{ background:#1b8bb5; }

.pain0.done{ background:#ffffff; }
.pain1.done{ background:#fefffd; }
.pain2.done{ background:#fdfefb; }
.pain3.done{ background:#fcfef9; }
.pain4.done{ background:#fbfdf7; }
.pain5.done{ background:#fafdf5; }
.pain6.done{ background:#f9fcf3; }
.pain7.done{ background:#f8fcf1; }
.pain8.done{ background:#f7fbef; }
.pain9.done{ background:#f6fbed; }
.pain10.done{ background:#f5faeb; }
.pain11.done{ background:#f4fae9; }
.pain12.done{ background:#f3f9e7; }
.pain13.done{ background:#f2f9e5; }
.pain14.done{ background:#f1f8e3; }
.pain15.done{ background:#f0f8e1; }
.pain16.done{ background:#eff7df; }
.pain17.done{ background:#eef7dd; }
.pain18.done{ background:#edf6db; }
.pain19.done{ background:#ecf6d9; }
.pain20.done{ background:#ebf5d6; }
.pain21.done{ background:#eaf5d4; }
.pain22.done{ background:#e9f4d2; }
.pain23.done{ background:#e8f4d0; }
.pain24.done{ background:#e7f3ce; }
.pain25.done{ background:#e6f3cc; }
.pain26.done{ background:#e5f2ca; }
.pain27.done{ background:#e4f2c8; }
.pain28.done{ background:#e3f1c6; }
.pain29.done{ background:#e2f1c4; }
.pain30.done{ background:#e1f0c2; }
.pain31.done{ background:#e0f0c0; }
.pain32.done{ background:#dfefbe; }
.pain33.done{ background:#deefbc; }
.pain34.done{ background:#ddeeba; }
.pain35.done{ background:#dceeb8; }
.pain36.done{ background:#dbedb6; }
.pain37.done{ background:#daedb4; }
.pain38.done{ background:#d9ecb2; }
.pain39.done{ background:#d8ecb0; }
.pain40.done{ background:#d7ebad; }
.pain41.done{ background:#d6ebab; }
.pain42.done{ background:#d5eaa9; }
.pain43.done{ background:#d4eaa7; }
.pain44.done{ background:#d3e9a5; }
.pain45.done{ background:#d2e9a3; }
.pain46.done{ background:#d1e8a1; }
.pain47.done{ background:#d0e89f; }
.pain48.done{ background:#cfe79d; }
.pain49.done{ background:#cee79b; }
.pain50.done{ background:#cde699; }
.pain51.done{ background:#cce697; }
.pain52.done{ background:#cbe595; }
.pain53.done{ background:#cae593; }
.pain54.done{ background:#c9e491; }
.pain55.done{ background:#c8e48f; }
.pain56.done{ background:#c7e38d; }
.pain57.done{ background:#c6e38b; }
.pain58.done{ background:#c5e289; }
.pain59.done{ background:#c4e287; }
.pain60.done{ background:#c3e184; }
.pain61.done{ background:#c2e182; }
.pain62.done{ background:#c1e080; }
.pain63.done{ background:#c0e07e; }
.pain64.done{ background:#bfdf7c; }
.pain65.done{ background:#bedf7a; }
.pain66.done{ background:#bdde78; }
.pain67.done{ background:#bcde76; }
.pain68.done{ background:#bbdd74; }
.pain69.done{ background:#badd72; }
.pain70.done{ background:#b9dc70; }
.pain71.done{ background:#b8dc6e; }
.pain72.done{ background:#b7db6c; }
.pain73.done{ background:#b6db6a; }
.pain74.done{ background:#b5da68; }
.pain75.done{ background:#b4da66; }
.pain76.done{ background:#b3d964; }
.pain77.done{ background:#b2d962; }
.pain78.done{ background:#b1d860; }
.pain79.done{ background:#b0d85e; }
.pain80.done{ background:#afd75b; }
.pain81.done{ background:#aed759; }
.pain82.done{ background:#add657; }
.pain83.done{ background:#acd655; }
.pain84.done{ background:#abd553; }
.pain85.done{ background:#aad551; }
.pain86.done{ background:#a9d44f; }
.pain87.done{ background:#a8d44d; }
.pain88.done{ background:#a7d34b; }
.pain89.done{ background:#a6d349; }
.pain90.done{ background:#a5d247; }
.pain91.done{ background:#a4d245; }
.pain92.done{ background:#a3d143; }
.pain93.done{ background:#a2d141; }
.pain94.done{ background:#a1d03f; }
.pain95.done{ background:#a0d03d; }
.pain96.done{ background:#9fcf3b; }
.pain97.done{ background:#9ecf39; }
.pain98.done{ background:#9dce37; }
.pain99.done{ background:#9cce35; }
.pain100.done{ background:#9acd32; }

