.pain0{ background:#ffffff; }
.pain1{ background:#fefefe; }
.pain2{ background:#fdfdfd; }
.pain3{ background:#fcfcfc; }
.pain4{ background:#fbfbfb; }
.pain5{ background:#fafafa; }
.pain6{ background:#f9f9f9; }
.pain7{ background:#f8f8f8; }
.pain8{ background:#f7f7f7; }
.pain9{ background:#f6f6f6; }
.pain10{ background:#f5f5f5; }
.pain11{ background:#f4f4f4; }
.pain12{ background:#f3f3f3; }
.pain13{ background:#f2f2f2; }
.pain14{ background:#f1f1f1; }
.pain15{ background:#f0f0f0; }
.pain16{ background:#efefef; }
.pain17{ background:#eeeeee; }
.pain18{ background:#ededed; }
.pain19{ background:#ececec; }
.pain20{ background:#ebebeb; }
.pain21{ background:#eaeaea; }
.pain22{ background:#e9e9e9; }
.pain23{ background:#e8e8e8; }
.pain24{ background:#e7e7e7; }
.pain25{ background:#e6e6e6; }
.pain26{ background:#e5e5e5; }
.pain27{ background:#e4e4e4; }
.pain28{ background:#e3e3e3; }
.pain29{ background:#e2e2e2; }
.pain30{ background:#e1e1e1; }
.pain31{ background:#e0e0e0; }
.pain32{ background:#dfdfdf; }
.pain33{ background:#dedede; }
.pain34{ background:#dddddd; }
.pain35{ background:#dcdcdc; }
.pain36{ background:#dbdbdb; }
.pain37{ background:#dadada; }
.pain38{ background:#d9d9d9; }
.pain39{ background:#d8d8d8; }
.pain40{ background:#d7d7d7; }
.pain41{ background:#d6d6d6; }
.pain42{ background:#d5d5d5; }
.pain43{ background:#d4d4d4; }
.pain44{ background:#d3d3d3; }
.pain45{ background:#d2d2d2; }
.pain46{ background:#d1d1d1; }
.pain47{ background:#d0d0d0; }
.pain48{ background:#cfcfcf; }
.pain49{ background:#cecece; }
.pain50{ background:#cccccc; }
.pain51{ background:#cbcbcb; }
.pain52{ background:#cacaca; }
.pain53{ background:#c9c9c9; }
.pain54{ background:#c8c8c8; }
.pain55{ background:#c7c7c7; }
.pain56{ background:#c6c6c6; }
.pain57{ background:#c5c5c5; }
.pain58{ background:#c4c4c4; }
.pain59{ background:#c3c3c3; }
.pain60{ background:#c2c2c2; }
.pain61{ background:#c1c1c1; }
.pain62{ background:#c0c0c0; }
.pain63{ background:#bfbfbf; }
.pain64{ background:#bebebe; }
.pain65{ background:#bdbdbd; }
.pain66{ background:#bcbcbc; }
.pain67{ background:#bbbbbb; }
.pain68{ background:#bababa; }
.pain69{ background:#b9b9b9; }
.pain70{ background:#b8b8b8; }
.pain71{ background:#b7b7b7; }
.pain72{ background:#b6b6b6; }
.pain73{ background:#b5b5b5; }
.pain74{ background:#b4b4b4; }
.pain75{ background:#b3b3b3; }
.pain76{ background:#b2b2b2; }
.pain77{ background:#b1b1b1; }
.pain78{ background:#b0b0b0; }
.pain79{ background:#afafaf; }
.pain80{ background:#aeaeae; }
.pain81{ background:#adadad; }
.pain82{ background:#acacac; }
.pain83{ background:#ababab; }
.pain84{ background:#aaaaaa; }
.pain85{ background:#a9a9a9; }
.pain86{ background:#a8a8a8; }
.pain87{ background:#a7a7a7; }
.pain88{ background:#a6a6a6; }
.pain89{ background:#a5a5a5; }
.pain90{ background:#a4a4a4; }
.pain91{ background:#a3a3a3; }
.pain92{ background:#a2a2a2; }
.pain93{ background:#a1a1a1; }
.pain94{ background:#a0a0a0; }
.pain95{ background:#9f9f9f; }
.pain96{ background:#9e9e9e; }
.pain97{ background:#9d9d9d; }
.pain98{ background:#9c9c9c; }
.pain99{ background:#9b9b9b; }
.pain100{ background:#999999; }

.pain0.block{ background:#ffffff; }
.pain1.block{ background:#fffefe; }
.pain2.block{ background:#fffcfc; }
.pain3.block{ background:#fffbfb; }
.pain4.block{ background:#fff9f9; }
.pain5.block{ background:#fff8f8; }
.pain6.block{ background:#fff6f6; }
.pain7.block{ background:#fff5f5; }
.pain8.block{ background:#fff3f3; }
.pain9.block{ background:#fff2f2; }
.pain10.block{ background:#fff0f0; }
.pain11.block{ background:#ffefef; }
.pain12.block{ background:#ffeded; }
.pain13.block{ background:#ffecec; }
.pain14.block{ background:#ffeaea; }
.pain15.block{ background:#ffe9e9; }
.pain16.block{ background:#ffe7e7; }
.pain17.block{ background:#ffe5e5; }
.pain18.block{ background:#ffe4e4; }
.pain19.block{ background:#ffe2e2; }
.pain20.block{ background:#ffe1e1; }
.pain21.block{ background:#ffdfdf; }
.pain22.block{ background:#ffdede; }
.pain23.block{ background:#ffdcdc; }
.pain24.block{ background:#ffdbdb; }
.pain25.block{ background:#ffd9d9; }
.pain26.block{ background:#ffd8d8; }
.pain27.block{ background:#ffd6d6; }
.pain28.block{ background:#ffd5d5; }
.pain29.block{ background:#ffd3d3; }
.pain30.block{ background:#ffd2d2; }
.pain31.block{ background:#ffd0d0; }
.pain32.block{ background:#ffcfcf; }
.pain33.block{ background:#ffcdcd; }
.pain34.block{ background:#ffcbcb; }
.pain35.block{ background:#ffcaca; }
.pain36.block{ background:#ffc8c8; }
.pain37.block{ background:#ffc7c7; }
.pain38.block{ background:#ffc5c5; }
.pain39.block{ background:#ffc4c4; }
.pain40.block{ background:#ffc2c2; }
.pain41.block{ background:#ffc1c1; }
.pain42.block{ background:#ffbfbf; }
.pain43.block{ background:#ffbebe; }
.pain44.block{ background:#ffbcbc; }
.pain45.block{ background:#ffbbbb; }
.pain46.block{ background:#ffb9b9; }
.pain47.block{ background:#ffb8b8; }
.pain48.block{ background:#ffb6b6; }
.pain49.block{ background:#ffb5b5; }
.pain50.block{ background:#ffb3b3; }
.pain51.block{ background:#ffb1b1; }
.pain52.block{ background:#ffb0b0; }
.pain53.block{ background:#ffaeae; }
.pain54.block{ background:#ffadad; }
.pain55.block{ background:#ffabab; }
.pain56.block{ background:#ffaaaa; }
.pain57.block{ background:#ffa8a8; }
.pain58.block{ background:#ffa7a7; }
.pain59.block{ background:#ffa5a5; }
.pain60.block{ background:#ffa4a4; }
.pain61.block{ background:#ffa2a2; }
.pain62.block{ background:#ffa1a1; }
.pain63.block{ background:#ff9f9f; }
.pain64.block{ background:#ff9e9e; }
.pain65.block{ background:#ff9c9c; }
.pain66.block{ background:#ff9b9b; }
.pain67.block{ background:#ff9999; }
.pain68.block{ background:#ff9797; }
.pain69.block{ background:#ff9696; }
.pain70.block{ background:#ff9494; }
.pain71.block{ background:#ff9393; }
.pain72.block{ background:#ff9191; }
.pain73.block{ background:#ff9090; }
.pain74.block{ background:#ff8e8e; }
.pain75.block{ background:#ff8d8d; }
.pain76.block{ background:#ff8b8b; }
.pain77.block{ background:#ff8a8a; }
.pain78.block{ background:#ff8888; }
.pain79.block{ background:#ff8787; }
.pain80.block{ background:#ff8585; }
.pain81.block{ background:#ff8484; }
.pain82.block{ background:#ff8282; }
.pain83.block{ background:#ff8181; }
.pain84.block{ background:#ff7f7f; }
.pain85.block{ background:#ff7d7d; }
.pain86.block{ background:#ff7c7c; }
.pain87.block{ background:#ff7a7a; }
.pain88.block{ background:#ff7979; }
.pain89.block{ background:#ff7777; }
.pain90.block{ background:#ff7676; }
.pain91.block{ background:#ff7474; }
.pain92.block{ background:#ff7373; }
.pain93.block{ background:#ff7171; }
.pain94.block{ background:#ff7070; }
.pain95.block{ background:#ff6e6e; }
.pain96.block{ background:#ff6d6d; }
.pain97.block{ background:#ff6b6b; }
.pain98.block{ background:#ff6a6a; }
.pain99.block{ background:#ff6868; }
.pain100.block{ background:#ff6666; }

.pain0.block.affected{ background:#ffffff; }
.pain1.block.affected{ background:#feffff; }
.pain2.block.affected{ background:#fcfeff; }
.pain3.block.affected{ background:#fbfdff; }
.pain4.block.affected{ background:#f9fcff; }
.pain5.block.affected{ background:#f8fbff; }
.pain6.block.affected{ background:#f6faff; }
.pain7.block.affected{ background:#f5faff; }
.pain8.block.affected{ background:#f3f9ff; }
.pain9.block.affected{ background:#f2f8ff; }
.pain10.block.affected{ background:#f0f7ff; }
.pain11.block.affected{ background:#eff6ff; }
.pain12.block.affected{ background:#edf5ff; }
.pain13.block.affected{ background:#ecf4ff; }
.pain14.block.affected{ background:#eaf4ff; }
.pain15.block.affected{ background:#e9f3ff; }
.pain16.block.affected{ background:#e7f2ff; }
.pain17.block.affected{ background:#e5f1ff; }
.pain18.block.affected{ background:#e4f0ff; }
.pain19.block.affected{ background:#e2efff; }
.pain20.block.affected{ background:#e1eeff; }
.pain21.block.affected{ background:#dfeeff; }
.pain22.block.affected{ background:#deedff; }
.pain23.block.affected{ background:#dcecff; }
.pain24.block.affected{ background:#dbebff; }
.pain25.block.affected{ background:#d9eaff; }
.pain26.block.affected{ background:#d8e9ff; }
.pain27.block.affected{ background:#d6e9ff; }
.pain28.block.affected{ background:#d5e8ff; }
.pain29.block.affected{ background:#d3e7ff; }
.pain30.block.affected{ background:#d2e6ff; }
.pain31.block.affected{ background:#d0e5ff; }
.pain32.block.affected{ background:#cfe4ff; }
.pain33.block.affected{ background:#cde3ff; }
.pain34.block.affected{ background:#cbe3ff; }
.pain35.block.affected{ background:#cae2ff; }
.pain36.block.affected{ background:#c8e1ff; }
.pain37.block.affected{ background:#c7e0ff; }
.pain38.block.affected{ background:#c5dfff; }
.pain39.block.affected{ background:#c4deff; }
.pain40.block.affected{ background:#c2ddff; }
.pain41.block.affected{ background:#c1ddff; }
.pain42.block.affected{ background:#bfdcff; }
.pain43.block.affected{ background:#bedbff; }
.pain44.block.affected{ background:#bcdaff; }
.pain45.block.affected{ background:#bbd9ff; }
.pain46.block.affected{ background:#b9d8ff; }
.pain47.block.affected{ background:#b8d8ff; }
.pain48.block.affected{ background:#b6d7ff; }
.pain49.block.affected{ background:#b5d6ff; }
.pain50.block.affected{ background:#b3d5ff; }
.pain51.block.affected{ background:#b1d4ff; }
.pain52.block.affected{ background:#b0d3ff; }
.pain53.block.affected{ background:#aed2ff; }
.pain54.block.affected{ background:#add2ff; }
.pain55.block.affected{ background:#abd1ff; }
.pain56.block.affected{ background:#aad0ff; }
.pain57.block.affected{ background:#a8cfff; }
.pain58.block.affected{ background:#a7ceff; }
.pain59.block.affected{ background:#a5cdff; }
.pain60.block.affected{ background:#a4ccff; }
.pain61.block.affected{ background:#a2ccff; }
.pain62.block.affected{ background:#a1cbff; }
.pain63.block.affected{ background:#9fcaff; }
.pain64.block.affected{ background:#9ec9ff; }
.pain65.block.affected{ background:#9cc8ff; }
.pain66.block.affected{ background:#9bc7ff; }
.pain67.block.affected{ background:#99c7ff; }
.pain68.block.affected{ background:#97c6ff; }
.pain69.block.affected{ background:#96c5ff; }
.pain70.block.affected{ background:#94c4ff; }
.pain71.block.affected{ background:#93c3ff; }
.pain72.block.affected{ background:#91c2ff; }
.pain73.block.affected{ background:#90c1ff; }
.pain74.block.affected{ background:#8ec1ff; }
.pain75.block.affected{ background:#8dc0ff; }
.pain76.block.affected{ background:#8bbfff; }
.pain77.block.affected{ background:#8abeff; }
.pain78.block.affected{ background:#88bdff; }
.pain79.block.affected{ background:#87bcff; }
.pain80.block.affected{ background:#85bbff; }
.pain81.block.affected{ background:#84bbff; }
.pain82.block.affected{ background:#82baff; }
.pain83.block.affected{ background:#81b9ff; }
.pain84.block.affected{ background:#7fb8ff; }
.pain85.block.affected{ background:#7db7ff; }
.pain86.block.affected{ background:#7cb6ff; }
.pain87.block.affected{ background:#7ab6ff; }
.pain88.block.affected{ background:#79b5ff; }
.pain89.block.affected{ background:#77b4ff; }
.pain90.block.affected{ background:#76b3ff; }
.pain91.block.affected{ background:#74b2ff; }
.pain92.block.affected{ background:#73b1ff; }
.pain93.block.affected{ background:#71b0ff; }
.pain94.block.affected{ background:#70b0ff; }
.pain95.block.affected{ background:#6eafff; }
.pain96.block.affected{ background:#6daeff; }
.pain97.block.affected{ background:#6badff; }
.pain98.block.affected{ background:#6aacff; }
.pain99.block.affected{ background:#68abff; }
.pain100.block.affected{ background:#66aaff; }

.pain0.block.done{ background:#ffffff; }
.pain1.block.done{ background:#fefffe; }
.pain2.block.done{ background:#fcfffc; }
.pain3.block.done{ background:#fbfffb; }
.pain4.block.done{ background:#f9fff9; }
.pain5.block.done{ background:#f8fff8; }
.pain6.block.done{ background:#f6fff6; }
.pain7.block.done{ background:#f5fff5; }
.pain8.block.done{ background:#f3fff3; }
.pain9.block.done{ background:#f2fff2; }
.pain10.block.done{ background:#f0fff0; }
.pain11.block.done{ background:#efffef; }
.pain12.block.done{ background:#edffed; }
.pain13.block.done{ background:#ecffec; }
.pain14.block.done{ background:#eaffea; }
.pain15.block.done{ background:#e9ffe9; }
.pain16.block.done{ background:#e7ffe7; }
.pain17.block.done{ background:#e5ffe5; }
.pain18.block.done{ background:#e4ffe4; }
.pain19.block.done{ background:#e2ffe2; }
.pain20.block.done{ background:#e1ffe1; }
.pain21.block.done{ background:#dfffdf; }
.pain22.block.done{ background:#deffde; }
.pain23.block.done{ background:#dcffdc; }
.pain24.block.done{ background:#dbffdb; }
.pain25.block.done{ background:#d9ffd9; }
.pain26.block.done{ background:#d8ffd8; }
.pain27.block.done{ background:#d6ffd6; }
.pain28.block.done{ background:#d5ffd5; }
.pain29.block.done{ background:#d3ffd3; }
.pain30.block.done{ background:#d2ffd2; }
.pain31.block.done{ background:#d0ffd0; }
.pain32.block.done{ background:#cfffcf; }
.pain33.block.done{ background:#cdffcd; }
.pain34.block.done{ background:#cbffcb; }
.pain35.block.done{ background:#caffca; }
.pain36.block.done{ background:#c8ffc8; }
.pain37.block.done{ background:#c7ffc7; }
.pain38.block.done{ background:#c5ffc5; }
.pain39.block.done{ background:#c4ffc4; }
.pain40.block.done{ background:#c2ffc2; }
.pain41.block.done{ background:#c1ffc1; }
.pain42.block.done{ background:#bfffbf; }
.pain43.block.done{ background:#beffbe; }
.pain44.block.done{ background:#bcffbc; }
.pain45.block.done{ background:#bbffbb; }
.pain46.block.done{ background:#b9ffb9; }
.pain47.block.done{ background:#b8ffb8; }
.pain48.block.done{ background:#b6ffb6; }
.pain49.block.done{ background:#b5ffb5; }
.pain50.block.done{ background:#b3ffb3; }
.pain51.block.done{ background:#b1ffb1; }
.pain52.block.done{ background:#b0ffb0; }
.pain53.block.done{ background:#aeffae; }
.pain54.block.done{ background:#adffad; }
.pain55.block.done{ background:#abffab; }
.pain56.block.done{ background:#aaffaa; }
.pain57.block.done{ background:#a8ffa8; }
.pain58.block.done{ background:#a7ffa7; }
.pain59.block.done{ background:#a5ffa5; }
.pain60.block.done{ background:#a4ffa4; }
.pain61.block.done{ background:#a2ffa2; }
.pain62.block.done{ background:#a1ffa1; }
.pain63.block.done{ background:#9fff9f; }
.pain64.block.done{ background:#9eff9e; }
.pain65.block.done{ background:#9cff9c; }
.pain66.block.done{ background:#9bff9b; }
.pain67.block.done{ background:#99ff99; }
.pain68.block.done{ background:#97ff97; }
.pain69.block.done{ background:#96ff96; }
.pain70.block.done{ background:#94ff94; }
.pain71.block.done{ background:#93ff93; }
.pain72.block.done{ background:#91ff91; }
.pain73.block.done{ background:#90ff90; }
.pain74.block.done{ background:#8eff8e; }
.pain75.block.done{ background:#8dff8d; }
.pain76.block.done{ background:#8bff8b; }
.pain77.block.done{ background:#8aff8a; }
.pain78.block.done{ background:#88ff88; }
.pain79.block.done{ background:#87ff87; }
.pain80.block.done{ background:#85ff85; }
.pain81.block.done{ background:#84ff84; }
.pain82.block.done{ background:#82ff82; }
.pain83.block.done{ background:#81ff81; }
.pain84.block.done{ background:#7fff7f; }
.pain85.block.done{ background:#7dff7d; }
.pain86.block.done{ background:#7cff7c; }
.pain87.block.done{ background:#7aff7a; }
.pain88.block.done{ background:#79ff79; }
.pain89.block.done{ background:#77ff77; }
.pain90.block.done{ background:#76ff76; }
.pain91.block.done{ background:#74ff74; }
.pain92.block.done{ background:#73ff73; }
.pain93.block.done{ background:#71ff71; }
.pain94.block.done{ background:#70ff70; }
.pain95.block.done{ background:#6eff6e; }
.pain96.block.done{ background:#6dff6d; }
.pain97.block.done{ background:#6bff6b; }
.pain98.block.done{ background:#6aff6a; }
.pain99.block.done{ background:#68ff68; }
.pain100.block.done{ background:#66ff66; }

